.App {
  text-align: center;
  margin: 0 auto;
}

.counter-section {
  margin: 0 auto;
  text-align: center;
  width: 400px;
  height: 400px;
  border: 1px solid#666;
}

.multi-counter {
  display: flex;
  justify-content: space-evenly;
}
